# Prerequisites
/Course 1/Procedular Programming/Educational_Tasks/**/*.d

# Compiled Object files
/Course 1/Procedular Programming/Educational_Tasks/**/*.slo
/Course 1/Procedular Programming/Educational_Tasks/**/*.lo
/Course 1/Procedular Programming/Educational_Tasks/**/*.o
/Course 1/Procedular Programming/Educational_Tasks/**/*.obj

# Precompiled Headers
/Course 1/Procedular Programming/Educational_Tasks/**/*.gch
/Course 1/Procedular Programming/Educational_Tasks/**/*.pch

# Compiled Dynamic libraries
/Course 1/Procedular Programming/Educational_Tasks/**/*.so
/Course 1/Procedular Programming/Educational_Tasks/**/*.dylib
/Course 1/Procedular Programming/Educational_Tasks/**/*.dll

# Fortran module files
/Course 1/Procedular Programming/Educational_Tasks/**/*.mod
/Course 1/Procedular Programming/Educational_Tasks/**/*.smod

# Compiled Static libraries
/Course 1/Procedular Programming/Educational_Tasks/**/*.lai
/Course 1/Procedular Programming/Educational_Tasks/**/*.la
/Course 1/Procedular Programming/Educational_Tasks/**/*.a
/Course 1/Procedular Programming/Educational_Tasks/**/*.lib

# Executables
/Course 1/Procedular Programming/Educational_Tasks/**/*.exe
/Course 1/Procedular Programming/Educational_Tasks/**/*.out
/Course 1/Procedular Programming/Educational_Tasks/**/*.app

# Output Files
/Course 1/Procedular Programming/Educational_Tasks/**/*.txt