# Prerequisites
/Course 1/**/*.d

# Compiled Object files
/Course 1/**/*.slo
/Course 1/**/*.lo
/Course 1/**/*.o
/Course 1/**/*.obj

# Precompiled Headers
/Course 1/**/*.gch
/Course 1/**/*.pch

# Compiled Dynamic libraries
/Course 1/**/*.so
/Course 1/**/*.dylib
/Course 1/**/*.dll

# Fortran module files
/Course 1/**/*.mod
/Course 1/**/*.smod

# Compiled Static libraries
/Course 1/**/*.lai
/Course 1/**/*.la
/Course 1/**/*.a
/Course 1/**/*.lib

# Executables
/Course 1/**/*.exe
/Course 1/**/*.out
/Course 1/**/*.app

# Output Files
/Course 1/Procedular Programming/Educational_Tasks/**/*.txt

/Course 1/ADS/Uzd_2